<div class="jumbotron py-3" style="background-color:#17a2b8;color:white;margin-top:30px; margin: 30px 50px">
    <h1 class="display-4 text-center">PayRoll App</h1>
</div>

<div class="row">

    <div class="col-md-12">
        <app-employee-forms></app-employee-forms>
    </div>


    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Dependants</th>
                    <th>Additions</th>
                    <th>Gross Salary</th>
                    <th>Delete Record</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor='let pd of service.list'>
                    <td (click)="populateForm(pd)">{{pd.emp_id}}</td>
                    <td (click)="populateForm(pd)">{{pd.emp_name}}</td>
                    <td (click)="populateForm(pd)">{{pd.emp_email}}</td>
                    <td (click)="populateForm(pd)">{{pd.emp_gender}}</td>
                    <td (click)="populateForm(pd)">{{pd.noOfDependants}}</td>
                    <td (click)="populateForm(pd)">{{pd.additions}}</td>
                    <td (click)="populateForm(pd)">{{pd.grosssalary}}</td>

                    <td style="text-align: center;">
                        <i class="far fa-trash-alt fa-lg text-danger" (click)='onDelete(pd.emp_id)'>

                        </i>
                    </td>
                </tr>

            </tbody>

        </table>
    </div>


</div>